.ProfileText{
    display: flex ;
    flex-direction: row;
}

.ProfileStyle {
    border-radius: 15px;
    box-shadow: rgb(66, 66, 66) 1px 1px 2px 4px, 
                rgba(0, 0, 0, 0.3) 0px 6px 15px 0px, 
                rgba(0, 0, 0, 0.15) 0px 1px 6px 0px;
    margin-bottom: 100px;
    transform: translateY(5px); 
    transition: all 0.2s ease-in-out; 
}

.ProfileStyle:hover {
    transform: translateY(0px); 
    box-shadow: rgb(66, 66, 66) 1px 1px 2px 4px, 
                rgba(0, 0, 0, 0.3) 0px 10px 25px 0px, 
                rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; 
}



@media (max-width : 762px ) {

    .ProfileText{
        flex-direction: column;
    }

}